@font-face{
 font-family: 'Karla', sans-serif;;
}

@font-face{
    font-family: 'Mission Gothic';
}

html, body, div, span,a,ul,li,footer,header,nav,section,video{
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%
    vertical-align: baseline;
}

footer, header, menu, nav, section{
    display: block;
}

body{
}

@media screen and (max-width: 1680px) {

			body {
				font-size: 1.5em;
			}

		}

		@media screen and (max-width: 1280px) {

			body {
				font-size: 0.8em;
			}

		}

		@media screen and (max-width: 360px) {

			body {
				font-size: 0.6em;
			}

		}

/* side bar */


ul{
    list-style: none;
    list-style-type: none
}

.logo{
    position: fixed;
    display: block;
    align-content: center;
    width: auto;
    height: 50px;
    margin-top: 7%;
     margin-left: 5%;
    margin-right: auto;
    width: 10%;
}

.logo a:hover{
    
}

.navigator{
    display: inline-block;
    font-family: 'Mission Gothic';
    list-style-type: none;
    margin: 10px;
    margin-top: 100%;
    padding: 20px;
    float:left;
    color: #000000;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 2em;
}

.navigator a:hover{
    color: aqua;
}

a{
    color: #000000;
    text-decoration: none;
}

/*image*/

.gallery {
    position:relative;
    display: inline-block;
    width: 80%;
    margin: 20%;
    margin-top: 0;
    border: 0;
}

.imagebox {
    margin: 0;
}

.gallery iframe{
    max-width: 310px;
}

.gallery li{
    list-style:none;
    display: inline-block;
    position: relative;
    padding: 15px;
    overflow:scroll;
    }

#footer{
    display: inline;
    font-family: 'Mission Gothic', sans-serif;
    font-size: 2em;
    padding: 100px;
}

.smile{
   width: 0.8em;
}
